    body {
            background-color: #fae5e1;
            font-family: 'Poppins','Noto Sans SC', sans-serif;
            color: #4a4a4a;
            line-height: 1.6;
        }

        /* 点号 . 表示选择一个"class" */
        .card {
            background-color: white;
            width: 90%;
            max-width: 400px;
            margin: 50px auto;
            padding: 20px;
            border-radius: 20px;
            text-align: center;
            box-shadow: 0 4px 8px ragb(0,0,0,0.1);

        }

        .card-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            color: #999;
            font-size: 14px;
        }

        .menu {
            cursor: pointer;
            font-size: 20px;
        }

        h1 {
            color: #2c3e50;
            font-size: 28px;
            font-weight: 700;
            margin-bottom: 5px;
        }

        h1::before {
            content: "#";
            color: #3a82ef;
            font-size: 20px;
            vertical-align: middle; /* 微调对齐 */
        }

        p {
            font-size: 15px;
            color: #666;
            margin-bottom: 20px;
        }

        ul {
            list-style: none; /* 去掉列表前面的那个丑陋的小圆点 */
            padding: 0;
        }

        .avatar {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: 3px solid #ddd;
        }

        .link-btn {
            display: block;
            background-color: #3a82ef;
            color: white;
            text-decoration: none;
            padding: 10px 20px;
            margin: 10px 40px;
            border-radius: 5px;
            transition: 0.3s;
        }

        .link-btn:hover {
            background-color: #8bb7f8;
            transform: scale(1.05); /* 稍微放大一点点 */
        }

        
        /* 黑夜模式的样式 */
        body.dark-mode {
            background-color: #1a1a1a;
            color: #f0f0f0;
        }

        .card.dark-mode {
            background-color: #2d2d2d;
            color: #fff;
            box-shadow:0 4px 8px rgba(255,255,255,0.1) ;
        }

        .card.dark-card {
            color: #e0b610;
        }

        /* 让变化有一个平滑的过渡 */
        body, .card {
            transition: background-color 0.5s, color 0.5s;
        }

        .clock {
            margin-top: 15px;
            color: #888;
            font-size: 0.9em;
        }

       .btn {
        padding: 10px 20px;
        border: none;
        font-size: 14px;
        border-radius: 8px;
        color: white;
        cursor: pointer;
        margin-right: 10px;
        transition: all 0.3s;
        white-space: nowrap;  /* 阻止文字换行 */
       }

       .save {
        background-color: transparent;
        border: 1px solid #2ecc71;
        color: #2ecc71;
        border-radius: 20px;
        flex-grow: 2;
        text-align: center;
        order: 2;  /* 改变顺序 */
       }

       .save:hover {
        background-color: #2ecc71;
        color: white;
       }

       .delete {
        background-color: transparent;
        border: 1px solid #e74c3c;
        color: #e74c3c;
        border-radius: 20px;
       }

       .delete:hover {
        background-color: #e74c3c;
        color: white;
       }

       .cancel {
        background-color: transparent;
        border: 1px solid #95a5a6;
        color: #95a5a6;
        border-radius: 20px;
       }

       .cancel:hover {
        background-color: #95a5a6;
        color: white;
       }

       .action-box {
        margin-top: 30px;
        padding-top: 20px;
        border-top: 1px solid #eee;
        display: flex;
        flex-direction: column; /* 改成竖排 */
        gap: 12px;  /* gap：元素之间的间距，比margin 更好用 */
       }

       /* 1.父相：定义基本坐标系 */
       .avatar-container {
        position: relative; 
        display: inline-block;
        width: 120px;
        height: 120px;
        margin: 0 auto;
       }

       /* 2.子绝：开始定位 */
       /* .status-dot {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 20px;
        height: 20px;
        background-color: #2ecc71;
        border: 3px solid white;
        border-radius: 50%;
       } */

       /* 用::after 来画 dot */
       .avatar-container::after {
        /* 【必须】content 属性是伪元素的灵魂，哪怕是空的也必须写，否则不显示 */
        content: "";
        position: absolute;
        bottom: 10px;
        right: 10px;
        width: 14px;
        height: 14px;
        background-color: #2ecc71;
        border: 3px solid white;
        border-radius: 50%;
        pointer-events: none;
       }

       @media (min-width: 600px) {
            .card {
                width: 400px;
                margin: 100px auto;
                padding: 40px;
            }

            h1 {
                font-size: 32px;
            }

            .avatar {
                width: 120px;
                height: 120px;
                border-radius: 50%;
            }

            .action-box {
                flex-direction: row; /* 桌面端 横排 */
            }

            .save {
                flex-grow: 1; /* 桌面端强调主按钮 */
            }

            .menu {
                display: none;
            }
        }


